include mixins/mixin.jade
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title vooxell
		link(rel="shortcut icon" href="img/vooxel/faviconSinFondo.ico")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.8.0/evil-icons.min.css")
		link(href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="css/jquery.fullPage.css")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/main.css")

	body
		nav#main-nav.main-nav
			ul.menu
				+nav_des(1,"","#slide-1","link-1","0","0","INICIO ")
				+nav_des(1,"","#slide-2","link-2","0","1","SOBRE NOSOTROS ")
				+nav_des(1,"","#slide-3","link-3","0","2","SERVICIOS ")
				+nav_des(1,"","#slide-4","link-4","0","3","NUESTROS PILARES ")
				+nav_des(1,"","#slide-5","link-5","0","4","RECURSOS HUMANOS ")
				+nav_des(1,"","#slide-6","link-5","0","4","CLIENTE ")
				+nav_des(1,"","#slide-7","link-6","0","5","PARTNER ")
				+nav_des(1,"","#slide-8","link-7","0","6","CONTACTO ")
				+nav_des(0,"ei-sc-twitter","https://twitter.com/intent/tweet?url=http://www.vooxell.com&text=Voxell.com: You have data, we give you a new dimension.","white","","","")
				+nav_des(0,"ei-sc-facebook","","white","","","")
				
			.menu-bar#menu-des(onclick="Materialize.showStaggeredList('#main-nav.main-nav')")
				.uno.bar
				.dos.bar
				.tres.bar

		nav#nav-parallax
			ul.nav
				+nav-parallax("slide-1","0","0","Inicio ")
				+nav-parallax("slide-2","0","1","Sobre Nosotros ")
				+nav-parallax("slide-3","0","2","Servicios ")
				+nav-parallax("slide-4","0","3","Nuestros Pilares ")
				+nav-parallax("slide-5","0","4","Recursos Humanos ")
				+nav-parallax("slide-6","0","5","Cliente ")
				+nav-parallax("slide-7","0","6","Partner ")
				+nav-parallax("slide-8","0","7","Contactos ")

		#fullpage
			#particles
			section.section
				.row
					.col.s12.logo
						.logo-vooxel.center-align
							<!-- img.VOOXELL(src="img/vooxel/LOGO_VOOXELL_verde_RGB_WEB.png") -->
							h1#intro.intro
							p.logo-text You have data,
								span.w-500 we give you a new dimension
							h2#changingword
							

			section#section1.section
				.container.sobreNosotros
					.row
						.col.l6.s12.center-align.pd-2.hide-on-med-and-down
							img(src="img/vooxel/vooxell-contacto-logo.svg")

						.col.l6.s12.center-align.pd-2
							h2.bebas QUIENES SOMOS
							p Somos un equipo de profesionales especializados en inteligencia de negocio. Nuestro trabajo se centra en el análisis de la data que tienen nuestros clientes, para encontrar una nueva dimensión entre su negocio y la tecnología, que será de gran valor para manejar información y conocimiento, adecuado y oportuno para la toma de decisiones.

			section.section
				.row
					.slide
						.pd-lr-4
							.row
								.col.offset-l1.s11.l5.left-align
									h2 NUESTROS SERVICIOS
									P  Vooxell le invita a ver distintos ángulos de un mismo escenario, una nueva dimensión de la tecnología puesta en sus manos para optimizar sus procesos y generar valor a su negocio; trabajando juntos, encontrando soluciones y oportunidades que harán realidad sus proyecciones. La búsqueda de soluciones a su medida, es nuestro desafío.
								.col.s12.l5.offset-l1
									.row.pd-8.mg-responsive-5
										+check("Inteligencia de Negocios (BigData, Aceleradores).")
										+check("Desarrollo Ágil.")
										+check("Consultoría experta (Migración, BD, Assessment).")

					.slide
						.pd-lr-4
							.row.mg-2
								.col.offset-l1.s12.l5.left-align
									.-slide-right
										span.Numero 01.
										h2 Inteligencia de Negocios
										h4 (BigData, Aceleradores)
										P  Decisiones oportunas para lograr una ventaja competitiva.
								.col.s12.l5.offset-l1.left-align.scrollflow
									.-slide-left.-opacity.mg-responsive-5
										.row
											+check("Un know-how estructural y operativo diferente y un grupo humano de gran sinergia, creativo, innovador y multidisciplinario.")

											+check("Metodologías no tradicionales, flexibles ante nuevos requerimientos y que se adaptan fácilmente a las expectativas que usted tiene.")

											+check("Tener entregables a corto plazo que garanticen un producto final eficaz y eficiente, es nuestro compromiso.")

					.slide
						.pd-lr-4
							.row.mg-2
								.col.s12.offset-l1.l5.left-align.-slide-right.-opacity
									span.Numero 02.
									h2 Desarrollo Ágil
									P  Un nuevo enfoque de revoluciona el desarrollo del software.
								.col.s12.l5.offset-l1.left-align.scrollflow.-slide-left.-opacity
									.row.mg-responsive-5
										+check("Almacenar y gestionar gran cantidad de datos, para transformarlos en información útil y confiable.")

										+check("Estamos dispuestos a brindarle información segura y oportuna, que le ayudará no sólo a optimizar sus procesos de toma de decisiones.")

										+check("Nuestra mirada 360° nos permite darle una nueva dimensión a su data, nuevas perspectivas de solución que elevarán la productividad y competitividad de su negocio.")

					.slide
						.pd-lr-4
							.row.pdt-2
								.col.s12.offset-l1.l5.left-align.vh-100.scrollflow.-slide-right
									span.Numero 03.
									h2 Consultoría experta 
									h4 (Migración, BD, Assessment)
									P  Nuestro activo más importante a su servicio
								.col.s12.l5.offset-l1.left-align.vh-100.scrollflow.-slide-left.-opacity
									.row.pd-8.mg-responsive-5
										+check("Almacenar y gestionar gran cantidad de datos, para transformarlos en información útil y confiable.")

										+check("Estamos dispuestos a brindarle información segura y oportuna, que le ayudará no sólo a optimizar sus procesos de toma de decisiones.")

										+check("Nuestra mirada 360° nos permite darle una nueva dimensión a su data, nuevas perspectivas de solución que elevarán la productividad y competitividad de su negocio.")

			section#section4.section
				.container.center-align
					.row
						h2 NUESTROS PILARES
					.row.mg-2
						.col.s6.l4.scrollflow.-slide-bottom.-opacity
							+pilar('img/pilar/experiencia.png','EXPERIENCIA','Confianza','Conocimiento','Especialización')

						.col.s6.l4.scrollflow.-slide-top.-opacity
							+pilar('img/pilar/excelencia.png','EXCELENCIA','Calidad','Creatividad','Innovación')

						.col.offset-s3.s6.l4.scrollflow.-slide-bottom.-opacity
							+pilar('img/pilar/probando.png','EFICIENCIA','Competividad','Compromiso','Productividad')

			section.section
				.container.Perfiles-js
					.contenedor-inicial.center-align
						h2 REFERENCIAS DEL EQUIPO
						p Nuestro equipo de inteligencia es una garantía de estabilidad y experiencia en el manejo de sus problemas.
						.perfil
							.col.s4

							.col.s4
							.col.s4

					.nav
						ul.right-align
							li
								a.btn-perfil.filter(data-filter=".ventas") VENTAS
								span.linea
							li
								a.btn-perfil.filter(data-filter=".experto") EXPERTO
								span.linea
							li
								a.btn-perfil.filter(data-filter=".consultor") CONSULTOR
								span.linea
							li
								a.btn-perfil.filter(data-filter=".desarrollo") DESARROLLO
								span.linea
							li
								a.btn-perfil-referen(data-filter=".references") REFERENCIAS
								span.linea


					#Container.row
						+perfil("","consultor",1,"Consultor")
						+perfil("img/perfil/consultor/julio-cordova.jpg","consultor",0,"","Julio Cordova","Jefe de Proyecto")
						+perfil("img/perfil/consultor/giancarlo-cordova.jpg","consultor",0,"","Giancarlo Cordova","Consultor BI")
						+perfil("img/perfil/consultor/jenny-Espinoza.jpg","consultor",0,"","Jenny Espinoza","Consultor BI")
						+perfil("img/perfil/consultor/richar-ucharico.jpg","consultor",0,"","Richard Ucharico","Consultor BI")
						+perfil("img/perfil/consultor/eduardo-hong.jpg","consultor",0,"","Eduardo Hong","Consultor BI")
						+perfil("","desarrollo",1,"Desarrollo")
						+perfil("img/perfil/desarrollo/neil-aronson.jpg","desarrollo",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/desarrollo/neil-aronson.jpg","desarrollo",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/desarrollo/neil-aronson.jpg","desarrollo",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/desarrollo/neil-aronson.jpg","desarrollo",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/desarrollo/neil-aronson.jpg","desarrollo",0,"","Eduardo","Cel. 992645479")
						+perfil("","experto",1,"Experto")
						+perfil("img/perfil/experto/julien-tissandier.jpg","experto",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/experto/julien-tissandier.jpg","experto",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/experto/julien-tissandier.jpg","experto",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/experto/julien-tissandier.jpg","experto",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/experto/julien-tissandier.jpg","experto",0,"","Eduardo","Cel. 992645479")
						+perfil("","ventas",1,"VENTAS")
						+perfil("img/perfil/ventas/benjamin-merritt.jpg","ventas",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/ventas/benjamin-merritt.jpg","ventas",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/ventas/benjamin-merritt.jpg","ventas",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/ventas/benjamin-merritt.jpg","ventas",0,"","Eduardo","Cel. 992645479")
						+perfil("img/perfil/ventas/benjamin-merritt.jpg","ventas",0,"","Eduardo","Cel. 992645479")

			section.section
				.container.center-align
					.row.section-cliente.pd-2
						h2#slide-5-title.title-cliente NUESTROS CLIENTES
						p Conoce cómo pensamos, en qué proyectos estamos involucrados, e ideas sobre nuestra visión a futuro.
						.carousel.center
							+clientes("img/cliente/sura-infra.jpg","modal-1","Sura",1,"Sura","Proyecto ETL Data Warehouse con Datastage")
							+clientes("img/cliente/entel-infra.jpg","modal-2","Entel",4,"Entel","Proyectos en Inteligencia de Negocios","Proyecto Normalización de Direcciones CRM y RETAIL.","Proyecto de Data Warehouse","Proyecto Mejoras en Migración a Exadata", "Proyecto de optimización Sistema de información Osiptel (ODI)")
							+clientes("img/cliente/upc-infra.jpg","modal-3","UPC",1,"UPC"," ")
							+clientes("img/cliente/inkafarma-infra2.jpg","modal-4","Empresa: InkaFarma",1,"InkaFarma"," ")
							+clientes("img/cliente/falabella-infra.jpg","modal-1","Banco Falabella",1,"Banco Falabella"," ")
							+clientes("img/cliente/rpp-infra.jpg","modal-3","Grupo RPP",1,"Grupo RPP"," ")

			section.section
				.container.center-align
					.row
						h2 PARTNER
						.col.s12
							.tablet
								.contenido
									.slide-parnet.slider
										ul.slides
											li
												img(src="img/partner/IBM.jpg")
												.caption
													//h3 IBM
											li
												img(src="img/partner/TABLEU.jpg")
												.caption
													//h3 TABLEU
											li
												img(src="img/partner/ORACLE.jpg")
												.caption
													//h3 ORACLE

			section.section
				.container
					.section-cliente
						.row.pdt-8
							.col.s12.offset-l1.l5.center-align
								h3.txt-negro.txt CONTÁCTANOS
								P Estamos listos para ayudarte. Si requieres información adicional sobre nuestros servicios, o deseconversar con nosotros sobre los proyectos o soluciones que necesites implementar en tu negocio, no dudes en ponerte en contacto con nosotros. 
								button#contac-frm1.waves-effect.btn.black.btn-contact Comienza
								#form1.form
									.container
										.row.pd-2
											.col.s6.left-align
												h4 01/01
											.col.s6.right-align
												button.btn.btn-floating.btn-cerrar
													i(data-icon="ei-close")
										.row
											.col.s6.input-field
												input#nombres-frm1.validate(type="text")
												label(for="nombres-frm1") Nombres y Apellidos:
											.col.s6.input-field
												input#empresa-frm1.validate(type="text")
												label(for="empresa-frm1") Empresa:
											.col.s6.input-field
												input#telefono-frm1.validate(type="text")
												label(for="telefono-frm1") Teléfono:
											.col.s6.input-field
												input#email-frm1.validate(type="email")
												label(for="email-frm1") Email:
										.row
											.input-fields.col.s12
												textarea#textarea-frm1.materialize-textarea
												label(for="textarea-frm1") Requerimientos:
										.row
											button.btn.waves-effet.waves-light.btn-form(type="submit" name="action") Enviar
												i.material-icons.right send

							.col.s12.l5.offset-l1.center-align
								h3.txt-verde.txt NUEVOS TALENTOS
								P Sé parte de la familia VOOXEL. Estamos en busca de profesionales dispuestos a enfrentar retos y nuevos desafíos.
								button#contac-frm2.btn.waves-effect.btn-verde.btn-contact Comienza
								#form2.form
									.container
										.row.pd-2
											.col.s6.left-align
												h4 01/01
											.col.s6.right-align
												button.btn.btn-floating.btn-cerrar
													i(data-icon="ei-close")
										.row
											.col.s6.input-field
												input#nombres-frm2.validate(type="text")
												label(for="nombres-frm2") Nombres:
											.col.s6.input-field
												input#apellidos-frm2.validate(type="text")
												label(for="apellidos-frm1") Apellidos:
										.row
											.col.s6.input-field
												input#telefono-frm2.validate(type="text")
												label(for="telefono-frm2") Teléfono / Celular:
											.col.s6.input-field
												input#email-frm2.validate(type="email")
												label(for="email-frm2") Email:
											.row
												.input-fields.col.s12
													textarea#textarea-frm2.materialize-textarea
													label(for="textarea-frm2") Cuéntanos sobre tus intereses y competencias.
												button.btn.waves-effet.waves-light.btn-form(type="submit" name="action") Enviar
													i.material-icons.right send

						.center-align.icon-contacto
							.row
								.red_contacto
									a(href="mailto:comunicaciones@vooxell.com" target="_blank")
										i.mail(data-icon="ei-envelope")
										span comunicaciones@vooxell.com

									a(href="http://caniuse.com/#feat=flexbox" target="_blank")
										i.twitter(data-icon="ei-sc-twitter")

									a(href="" target="_blank")
										i.linkedin(data-icon="ei-sc-linkedin")

									a(href="" target="_blank")
										i.material-icons.cell call
										span +511 1721 6755

									a(href="" target="_blank")
										i.material-icons.cell call
										span +511 1721 6755
	
		script(src="js/jquery.js")
		script(src="https://cdn.jsdelivr.net/evil-icons/1.8.0/evil-icons.min.js")
		script(src="js/jquery.fullPage.min.js")
		script(src="js/bin/materialize.min.js")
		script(src="js/jquery.mixitup.js")
		script(src="js/particles.min.js")
		script(src="js/cubo-verde.js")
		script(src="js/main.js")
