include mixins/mixin.jade
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title vooxell
		link(rel="icon" type="image/png" href="img/bg/cubo.png")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/javascript.fullPage.css")
		link(rel="stylesheet" href="css/main.css")
	body
		nav#main-nav.main-nav
			ul.menu
				+nav_des(1,"","#slide-1","link-1","0","0","INICIO ","#section1")
				+nav_des(1,"","#slide-2","link-2","0","1","QUIÉNES SOMOS ","#section2")
				+nav_des(1,"","#slide-3","link-3","0","2","NUESTROS SERVICIOS ","#section3")
				+nav_des(1,"","#slide-4","link-4","0","3","NUESTROS PILARES ","#section4")
				+nav_des(1,"","#slide-5","link-5","0","4","ALIANZAS ESTRATÉGICAS","#section5")
				+nav_des(1,"","#slide-6","link-6","0","5","CONTACTOS ","#section6")
				+nav_des(0,"ei-sc-twitter","https://twitter.com/intent/tweet?url=http://www.vooxell.com&text=Voxell.com: You have data, we give you a new dimension.","white","","","")
				+nav_des(0,"ei-sc-facebook","","white","","","")
				
			.menu-bar#menu-des(onclick="Materialize.showStaggeredList('#main-nav.main-nav')")
				#irarriba.uno.bar
				.dos.bar
				.tres.bar

		nav#nav-parallax
			ul.nav
				+nav-parallax("slide-1","slide-1","0","0","Inicio ")
				+nav-parallax("slide-2","slide-2","0","1","Quiénes Somos")
				+nav-parallax("slide-3","slide-3","0","2","Nuestros Servicios ")
				+nav-parallax("slide-4","slide-4","0","3","Nuestros Pilares ")
				+nav-parallax("slide-5","slide-5","0","4","Alianzas Estratégicas")
				+nav-parallax("slide-6","slide-6","0","5","Contactos ")
		
		#fullpage
			section.section.section-1
				#particles
				.container
					.row
						.logo
							.logo-vooxel.center-align
								img.VOOXELL(src="img/bg/logo-large2.png") 
								p.logo-text You have data, 
									span.w-500 we give you a new <br> dimension

			section.section.section-2
				img.logo-small(src="img/bg/logo-small.png")
				.sobreNosotros
					.bg
						.position
							+title_h2("Nuestra","Misión")
							p Generar valor, brindar soporte y ser aliados estratégicos de nuestros clientes, facilitando soluciones de negocio y tecnología innovadoras, donde nuestro principal aporte es la experiencia, excelencia y eficiencia de cada uno de nuestros profesionales.

			section.section.section-3
				img.logo-small(src="img/bg/logo-small.png")
				.Servicios
					.bg
						.position
							+title_h2("Nuestros","Servicios")
							.lado-2.lado-21
								button.BI
									span
										img.sin-hover(src="img/bg/cubo-verde.png")
										img.hover(src="img/bg/cubo.png")
									a Inteligencia de Negocios 
							.lado-2.lado-22
								button.DA
									span
										img.sin-hover(src="img/bg/cubo-verde.png")
										img.hover(src="img/bg/cubo.png")
									a Desarrollo Ágil
							.lado-2.lado-23
								button.CE
									span
										img.sin-hover(src="img/bg/cubo-verde.png")
										img.hover(src="img/bg/cubo.png")
									a Consultoría Experta

					#BI
						+servicio-item("BI","Inteligencia de Negocios","Tenemos la habilidad y experiencia para transformar gran cantidad de datos en información útil y confiable.  Le ayudaremos a optimizar sus procesos de toma de decisiones con soluciones que elevarán la productividad y competitividad de su negocio.")

					#DA
						+servicio-item("DA","Desarrollo Ágil","Ofrecemos simplicidad y velocidad para desarrollar software, trabajando juntos y en constante comunicación, con metodologías no tradicionales, flexibles ante nuevos requerimientos y que se adaptan fácilmente a sus expectativas.")

					#CE
						+servicio-item("CE","Consultoría Experta","La gestión del conocimiento es clave para ampliar su competitividad y destacar en el mercado. Sabemos cómo crear la solución adecuada, facilitarle la guía y apoyo necesario para lograr el éxito esperado. Estaremos a su lado para mostrarle una nueva dimensión.")

			section.section.section-4
				.slide
					.Pilares
						.pilar3.pilar
							.pilar-bg
						.pilar2.pilar
							.pilar-bg
						.pilar1.pilar
							.pilar-bg
				.slide.slide1
				.slide.slide2



			section.section.section-5
				img.logo-small.logo-small-blanco(src="img/bg/logo-small-blanco.png")
				.bg-alianza
					.alianza
						.title_alianza
							+title_h2("Nuestras","Alianzas Estratégicas")
						.bg
							.position
								p Con el fin de ofrecer a nuestros clientes soluciones y productos (hardware y software) de la más alta calidad y rendimiento, hemos establecido alianzas a nivel mundial que nos permitan garantizar nuestra acreditación y conocimientos, así como ofrecer el servicio de implementación, soporte y orientación de los productos que se adquieran.
								.contenedor-alianza
									.col-s5
										img(src="img/partner/ca-small.jpg")

									.col-s5
										img(src="img/partner/oracle-small.jpg")

									.col-s5
										img(src="img/partner/tableau-small.jpg")

									.col-s5
										img(src="img/partner/ibm-small.jpg")

			section.section.section-6
				img.logo-small.logo-small-blanco(src="img/bg/logo-small-blanco.png")
				.bg-contacto
					.container
						.row
							+title_h2("","Contáctanos")
							p Estamos listos para ayudarte. Si requieres información adicional sobre nuestros servicios, o deseas conversar con nosotros sobre los proyectos o soluciones que necesites implementar en tu negocio, no dudes en ponerte en contacto con nosotros llenando el formulario de la derecha o a través de nuestras redes sociales; uno de nuestros asesores comerciales se pondrá en contacto contigo a la brevedad posible. 
							.col.l6.s12
								ul.icon-contacto
									li.text-mail
										a(href="#!") comunicaciones@vooxell.com
									li.text-cel
										a(href="#!") (+51 721 6755)
									li.text-map
										a(href="#!") http://www.vooxell.com
									li.text-stree
										a(href="#!") Av. Larco 743 Of. 604, Miraflores, Lima 27, Perú
									.siguenos
										span Síguenos en: 
										a(href="#!")
											i.fa.fa-facebook.fa-2x
										a(href="#!")
											i.fa.fa-linkedin.fa-2x
										a(href="#!")
											i.fa.fa-youtube-play.fa-2x

							.col.l6.s12
								.formulario
									form(name="form1" id="form1" action="" method="POST" onsubmit="return false")
										.form
											input(type="text" placeholder="Nombre y apellidos" name="apenom2" id="apenom2" maxlength="250" class="only_letters")
											span *
										.form
											input(type="text" placeholder="Empresa" name="enterprise" id="enterprise" maxlength="250")
											span *
										.form
											input(type="text" placeholder="Correo electrónico"  name="email2" id="email2" maxlength="250")
											span *
										.form
											input(type="text" placeholder="Requerimiento" name="request" id="request" maxlength="500")
											span.carac 500 car.
										.form
											input(type="text" placeholder="Teléfono / Celular" name="phone2" id="phone2" maxlength="40" class="only_phone")
											span *
										
										.btnpost
											span.info-obli * Información obligatoria
											button.btn(type="submit" name="btnsend" id="btnsend" value="ENVIAR") Enviar


		script(src="js/jquery.js")
		script(src="js/materialize.min.js")
		script(src="js/javascript.fullPage.js")
		script(src="js/main.js")
		script(src="js/particles.min.js")
		script(src="js/cubo-verde.js")
		
		

