$verde:#27fc0d;
$negro:#231F20;
$plomo:#9FA1A4;
$morado:#52266f;
$dorado:#cc8414;
$bg-verde:$verde;
$bg-plomo:$plomo;
$bg-negro:$negro;
$txt-verde:$verde;
$white:#fff;
$bg-white:#e0e0e0;
$txt-white: #909399;
$font-segoeui: 'segoeui', sans-serif;
$font-segoeui-bold: 'segoeui-bold', sans-serif;

$bg-black:black;
//$bg-black:#2d2f31;

$color-nav-parallax:#C1C1C1;
//#0ed855;
$bg-linkendin:#1A85BC;
$border-color:$verde;
$border-width:0.5rem;

/////

//// 	VISION
//