$verde:#00FF5A;
$bg-verde:$verde;
$txt-verde:$verde;
$white:#fff;
$bg-white:#e0e0e0;
$txt-white: #909399;
$font-cuerpo:'Oxygen', sans-serif;
$bg-black:#2d2f31;
$font-bebas:'Bebas Neue Regular', sans-serif;
$font-Oxygen: 'Oxygen', sans-serif;
$color-nav-parallax:#C1C1C1;
//#0ed855;


