@font-face{
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/bebas-neue-regular/BebasNeue Regular.ttf');
}

@font-face{
	font-family: 'segoeui';
	src: url('../fonts/segoe-ui/segoeui.ttf');
}

@font-face{
	font-family: 'segoeui-bold';
	src: url('../fonts/segoe-ui/ufonts.com_segoe-ui-bold.ttf');
}
@font-face{
	font-family: 'Avenir Next';
	src: url('../avenir-next-lt-pro/AvenirNextLTPro-Bold.otf');
}

*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
   	font-family:$font-segoeui;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td, section {
    padding: 0;
    margin: 0;
}
body{
	//background-image: url('../img/demo.jpg');
	background:$negro;


}
/****  fonts ****/

p{
	font-family:$font-segoeui;
	font-weight:100;
	line-height: 1.1;
	font-size: 1.3rem;
	z-index:3!important;
}
h2{
	font-size: 5rem;

}

h2,h3,h4,h5,h6{
	line-height:1.1;
	font-family:$font-segoeui-bold;
	//font-family: 'Bebas Neue Regular', sans-serif;
	margin: 0px;
	//z-index:3!important;
}


  /* seleccion */
::-moz-selection { color: white;  background: none; }
::selection      { color: white;  background: none; } 

 /** scroll y efecto */

::-webkit-scrollbar { 
    display: none; 
}

.pd-8{
	padding-top:8%;
}
.pdt-8{
	padding-top:8%;
}
.pd-tb-4{
	padding:4% 0%;
}
.pd-lr-4{
	padding:4% 4%;
}
.pd-2{
	margin-top:2rem;
}
.mg-2{
	margin:2rem;
}
.w-500{
	font-weight:600;
}
.txt-verde{
	color:$txt-verde;
}
.txt-negro{
	color:black;
}

/**control del fullpages horizontal**/

.fp-controlArrow.fp-next{
	border-color:transparent transparent transparent $bg-verde !important;
}
.fp-controlArrow.fp-prev{
	border-color:transparent  $bg-verde transparent transparent !important;
	z-index:1000000000;
}
.white{
	color:white;
}


.fp-controlArrow.fp-prev , .fp-controlArrow.fp-next {
	visibility:hidden;
}